.form-group
  input.input-lg#email.form-control(type='text' name='email' placeholder='Email Address')

.form-group
  input.input-lg#password.form-control(type='password' name='password' placeholder="Password")

.alert-target

.form-group.text-right
  yield 
