extends ../../index.pug

block navbar
  //- hide navbar & show back button
  #back-home
    a.btn.btn-default.btn-fab(href='/')
      +icon('home')
    .btn-label GO BACK


block css-local
  +css-local('login')

block js-local
  +js('/js/plugins/ajax_forms.js')
  +js('/js/render/alerts.js')
  +js('/js/pages/user.js')