extends ./index.pug

block body
  .container
    .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3#register
      .well
        h1 Sign Up
        hr
        form.form-vertical(action='/users/register' method='POST')
          include form.pug
            button.btn.btn-lg.btn-block.btn-primary(type='submit') Sign Up
        hr
      p Already have an account? #[a.btn(href='/users/login') Log In]
