body {
  background-image: url("/img/patterns/gplay.png");
}
#login {
  margin-top: 80px;
}
#login .togglebutton {
  height: 20px;
  margin: 18px 0;
  margin-left: 6px;
  display: inline-block;
}
#login .togglebutton {
  float: left;
}
