
#form-login, #form-register {
  
  padding-top: 3em;
  max-width: 330px;
  margin: 0 auto;
  
  input:first-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  input:last-child {
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
 
  .col-12 {
    margin: 15px 0;
  }
  
}
  
