@import "variables";
@import "hr-with-text";

html, body {
}

nav.navbar.navbar-inverse {
  .btn {
    color: #fff;
  }
}

.alert-default {
  border-color: $gray-lighter;
  background-color: $gray-lightest;
}

.dropdown-item .fa + span.fa-fit {
  position: absolute;
  left: 50px;
}

#nav-dropdown.dropdown-toggle:after {
  display: none;
}

nav.navbar.fixed-top + #main-content {
  padding-top: 56px;
}
