nav.navbar.navbar-fixed-top.navbar-default
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse.collapse')
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/') Dropsite

    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li
          a(href="#") Link
      ul.nav.navbar-nav.navbar-right
        if user
          li.dropdown
            a.dropdown-toggle.avatar(href="#" data-toggle='dropdown' )
              span=user.name
              if user.image_name
                img.img-circle(src='/users/data/image/'+user.image_name)
              else
                img(src='/img/misc/user_default_sm.png')
            ul.dropdown-menu
              li
                a(href='/users/settings') Settings
              li
                form(method='post' action='/users/logout')
                  input.hidden(name='name' value=user.name)
                  button.btn(type='submit') Log Out
        else
          li
            a.avatar(href='/users/login')
              span Sign In
              img(src='/img/misc/user_default_sm.png')

    #navbar-shadow
