extends ../index.pug

block css-local
  +css-local('user')

block body
  #user-account.container
    .panel.panel-default
      .panel-body
        .row
          .col-sm-12
            h2.mg-no-t Account Settings
        hr.divider
        .row
          .col-sm-3
            label.strong Avatar
          .col-sm-9
            .form-group
              input(type='file', multiple=false)
              .input-group
                input.form-control(type='text', readonly='', placeholder='...')
                span.input-group-btn.input-group-sm
                  button.btn.btn-fab.btn-fab-mini(type='button')
                    +icon("editor-attach-file")
