extends ../index.pug

block navbar
  //- hide navbar

block css-local
  +css-local('login')

block body
  .container
    .col-sm-6.col-sm-offset-3#login
      p.text-right #[a(href='/user/login') Back to login]
      .well
        h1 REGISTER
        form.form-vertical(action='/user/register' method='POST')
          include form.pug
            button.btn.btn-raised.btn-primary(type='submit') Register
