// Misc styles, try to localize 
.btn-label {
  margin-right: 15px;
  display: inline-block;
}

.btn + .btn-label {
  margin-left: 15px;
}

.mg-off {
  margin: 0;
}

.input-group-btn .btn:not(.btn-fab) {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}