body {
  background-image: url("/img/patterns/gplay.png")
}

#login, #register {
  margin-top: 80px;

  .togglebutton {
    height: 20px;
    margin: 18px 0;
    margin-left: 6px;
    display: inline-block;
  }
  .togglebutton {
    float: left;
  }
}
