include mixins.pug
doctype html
html(lang="en")
  head
    block title
    block css-required
      +css('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
      +css('/vendor/css/bootstrap.min.css')
      +css('/vendor/css/font-awesome.min.css')
      +css('/css/style/index.css')
    block css-local

    if user
      include user-data.pug

  body
    block body
      include navbar.pug
      #main-content.container-fluid.px-0
        if !user
          block no-user-content
        block main-content
  
    block js-required
      +js('/vendor/js/jquery.min.js')
      +js('/vendor/js/tether.min.js')
      +js('/vendor/js/bootstrap.min.js')
      +js('/vendor/js/jquery.timeago.js')
      +js('/js/index.js')
      +js('/js/scripts/SwapElements.js')
      +js('/js/scripts/FilePreview.js')
      +js('/js/scripts/ToggleButton.js')
    block js-local
