include mixins.pug
doctype html
html(lang="en")
  head
    block css-required
      +css('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
      +css('/vendor/css/bootstrap.min.css')
      +css('/css/dropclient.css')

    block css-optional
    block css-local

  body

    block modals
    if user
      block modals-user

    #dropsite.hidden
    block navbar
      include navbar.pug

    #main-content.body-fixed
      .container
        block body
        if user
          block body-user

    block js-required
      +js('/vendor/js/jquery.min.js' )
      +js('/vendor/js/bootstrap.min.js' )
      +js('/js/dropclient.js' )

    block js-optional
      +js('/js/plugins/navbar_animation.js')

    block js-local