include mixins.pug
doctype html
html(lang="en")
  head
    block css-required
      +css('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
      +css('/vendor/css/bootstrap.min.css')
      +css('/css/index.css')
    block css-local

  body
    block body
      include navbar.pug
      #main-content.container-fluid
        .row
          block main-content
        
    block js-required
      +js('/vendor/js/jquery.min.js')
      +js('/vendor/js/tether.min.js')
      +js('/vendor/js/bootstrap.min.js')
      +js('/js/index.js')
    block js-local
