section
  h4 Email Settings
  hr
  form.row
    .form-group.row
      label.col-sm-2.control-label.strong(for='email') Primary Email
      .col-sm-10
        input#email.form-control(type='email', placeholder=user.email)

    .form-group.row
      .col-sm-12.text-right
        button.btn.btn-primary.btn-raised Save