section
  h4 Account Picture
  hr
  form.row
    .form-group.row
      .col-sm-12.text-center
        +placeholder('img-circle')
    .form-group.row
      .col-sm-6.col-sm-offset-3
        //- interesting-block File input
        .form-group.is-fileinput.text-center
          input#account_image(type='file', multiple='')
          .input-group
            input.form-control(
              type='text'
              readonly=''
              placeholder='Choose a new image')
            span.input-group-btn.input-group-sm
              button.btn.btn-xs.btn-raised(type='button') Browse
        p Files size must be no larger than #[code 200Kb]
    .form-group.row
      .col-sm-12.text-right
        button.btn.btn-primary.btn-raised Upload
