@import "_variables";

#settings-nav {
  #page-nav {
    padding: 15px 0;
    .active {
      font-weight: bold;
    }
  }
}

.avatar-container {
  width: 114px;
  border: 1px solid $input-border-color;
  display: inline-block;
  .avatar-image {
    
  }
  .avatar-stand-in {
    padding: $spacer;
  }
  .avatar-controls {
    position: relative;
    opacity: 0;
    display: none;
    transition: opacity 0.2s ease-in-out;
    .btn-group, .btn-group-vertical {
      padding-bottom: 50%;
      position: absolute;
      padding-left: $spacer-x;
    }
  }
  &:hover {
    .avatar-controls {
      opacity: 1;
      display: block;
    }
  }
}
