extends ../index.pug

block body
  .col-12.text-center
    i.fa.fa-spin.fa-5x.fa-spinner(style='margin: 70px 0;')
    h4#log-out-message Logging you out...

block js-local
  script
    include scripts/logout.js
