.btn-label {
  margin-right: 15px;
  display: inline-block;
}
.navbar-nav li > a > .btn-fab {
  margin: -15px -7.5px;
  min-height: 32px;
  min-width: 32px;
  max-height: 32px;
  max-width: 32px;
  height: 32px;
  width: 32px;
}
.navbar-nav li > a > .btn {
  color: #fff;
  background-color: #303f9f;
}
