
#profile-edit-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='model-label')
  .modal-dialog(role='document')
    .modal-content.col-sm-offset-2.col-sm-8
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h3#model-label.modal-title Edit your profile
      .modal-body

        .text-center
          .form-group
            if user.image_name
              img.img-circle(src='/users/data/image/'+user.image_name width=200 height=200)
            else
              +placeholder({
                class:'img-circle'
              })

          form.form-group(method='post' action='/users/settings/image' enctype='multipart/form-data')
            .input-group.is-fileinput
              input.form-control(type='file' multiple=false name='image')
              span.input-group-btn
                button.btn.btn-primary(type='submit') Upload

          
          form(method='post' action='/users/settings/profile')
            .form-group.input-group-lg
              input.form-control(type='text', name='name', value=user.name)
            .form-group.input-group-lg
              input.form-control(type='email', name='email', placeholder=user.email)
            .form-group
              button.btn.btn-block.btn-primary.btn-lg(type='submit') Update Profile

      .modal-footer
